@import './structure.scss';
#app {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 200px;
}

.game-holder {
    width: 150px;
    margin-bottom: 30px;
    border-bottom: solid 1px #000;
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.brief-rating {
    font-size: 9px;
    text-align: center;
}

.brief-des {
    margin-bottom: 10px;
}

body {
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        h1 {
            text-align: center;
            font-size: 50px;
            margin-top: 20px;
        }
    }
}

.close {
    padding: 10px 30px;
    cursor: pointer;
    background-color: aqua;
}

.game-full {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        text-align: center;
        font-size: 24px;
    }
    img {
        width: 80vw;
    }
    .description-rating {
        width: 75vw;
    }
}